<div class="p-3">
  Places
</div>

<div class="p-3">
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</div>

<div class="p-3">
  <a href="/places/new", class: "btn btn-primary">New place</a>
</div>