<div class="p-3">
  <h5>
   New Place
  </h5>
</div>

<%= form_with model: @place do |form| %>
  <div class="p-3">
    <%= form.label "name ", class: "form-label" %>
    <%= form.text_field "name", class: "form-control" %>
  </div>
  <div class="p-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>